footer {
    border-top: 1px solid #000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    background-color: #fff;
}

.footer-text {
    font-size: 15px;
    color: #000;
    font-weight: var(--poppins-regular);
}