/* .card-header {
    background-color: #fff;
    color: #000;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
} */

.card-header a {
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    font-weight: var(--poppins-regular);
    font-size: 15px;
}

.card-body {
    padding: 0px 20px 20px 20px;
}

.card-section {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 15px;
    font-weight: var(--poppins-bold);
    padding: 0;
    margin: 0;
    color: #000;
}

.title-meta {
    font-size: 13px;
    color: #000;
    opacity: 0.5;
    font-weight: var(--poppins-regular);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.card-action {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.btn {
    font-size: 15px;
    font-weight: var(--poppins-semi-bold);
    border-radius: 50px;
    width: 100%;
    border: none;
    background-color: #000;
    color: #fff;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.appointment-status {
    background-color: #000;
    color: #fff;
    border: none;
}

.appointment-status:hover {
    background-color: #000;
    color: #fff;
}

.appointment-join {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    border: none;
}

.appointment-join:hover {
    background-color: #000;
    color: #fff;
}